/*Estilização do list.html*/
/*Ainda não está funcionando*/
/*
h3 {
    color: white;
    text-align: center;
}
  
h4 {
      text-align: center;
      margin-left: 87px;
}

div.teste1{
      width: 510px;
      margin-left: 610px;
}
  
div.teste2{
      width: 510px;
}
  
div button.botao{
      margin-top: 30px;
}

/*
/*Estilização do painel.html*/

/*
h3{
    text-align: center;
    
}

div.tabela{
    width: 60%;
    margin-left: 410px;
}
*/





